{% extends "base.html" %}
{% block content %}
<h1>There are {{ jobs | length }} jobs in total</h1>
<table class = 'table'>
  <thead>
    <tr>
      <th>Host</th>
        <th class = 'detail-command'>Command</th>
        <th>Return Code</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
  </thead>
  <tbody>
{% for job in jobs %}
    <tr class = 'tr-before-hidden-text'>
      <td>{{ job.host }}</td>
      <td>{{ job.cmd }}</td>
      <td>{{ job.rc }}</td>
      <td>{{ job.start | date:"Y-m-d G:i:s" }}</td>
      <td>{{ job.end | date:"Y-m-d G:i:s" }}</td>
    </tr>
    <tr class = 'hidden-text'>
      <td colspan = '5'>
        <h3 class = 'green-text'>stdout &#187;</h3>
        <pre>{{ job.stdout }}</pre>
        <h3 class = 'red-text'>stderr &#187;</h3>
        <pre>{{ job.stderr }}</pre>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
