{% extends "base.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Shell Command</th>
      <th>Start / End</th>
      <th>Return Code</th>
      <th>More &#187;</th>
    </tr>
  </thead>
  <tbody>
{% for task in tasks %}
    <tr>
      <td style = 'width: 30px;'>{{ task.id }}</td>
      <td style = 'width: 800px;'>{{ task.cmd_shell }}</td>
      <td>{{ task.start }} <br /> {{ task.end }}</td>
      <td>{{ task.rc }}</td>
      <td style = 'width: 150px;'>
        <a href = '/detail/{{ task.id }}'>detail</a>
        {% if task.rc != '0' %}
        <a href = '/retry/{{ task.id }}'>retry</a>
        {% endif %}
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
