{% extends "base.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Shell Command</th>
      <th>Start / End</th>
      <th>Return Code</th>
      <th>More &#187;</th>
    </tr>
  </thead>
  <tbody>
{% for job in jobs %}
    <tr>
      <td style = 'width: 30px;'>{{ job.id }}</td>
      <td style = 'width: 800px;'>{{ job.cmd_shell }}</td>
      <td>{{ job.start }} <br /> {{ job.end }}</td>
      <td>{{ job.rc }}</td>
      <td style = 'width: 150px;'>
        <a href = '/detail/{{ job.id }}'>detail</a>
        {% if job.rc != '0' %}
        <a href = '/retry/{{ job.id }}'>retry</a>
        {% endif %}
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
