{% extends "base.html" %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th class = 'th-id'>ID</th>
      <th>Shell Command</th>
      <th>Start / End Time</th>
      <th>Succeed?</th>
      <th colspan = '3'></th>
    </tr>
  </thead>
  <tbody>
{% for task in tasks %}
    <tr>
      <td>{{ task.id }}</td>
      <td class = 'white-text home-shell-command'>{{ task.cmd_shell }}</td>
      <td>
        {{ task.start | date:"Y-m-d G:i:s" }}<br />
        {% if task.end %}
        {{ task.end | date:"Y-m-d G:i:s" }}
        {% else %}
        N/A
        {% endif %}
      </td>
      <td>
        {% if task.rc == 0 %}
        <span class = 'green-text'>yes</span>
        {% elif task.rc %}
        <span class = 'red-text'>no</span>
        {% else %}
        N/A
        {% endif %}
      </td>
      <td>
        <a href = '/detail/{{ task.id }}'>detail</a>
      </td>
      <td>
        {% if task.rc %}
        <a href = '/retry/{{ task.id }}'>retry</a>
        {% endif %}
      </td>
      <td>
        <a href = '/rerun/{{ task.id }}'>rerun</a>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
